<h3 class="mt-5">Lista de productos</h3>
<table class="table mt-5 text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Funcion</th>
            <th>Precio</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance' : product.clearance}">
            <td><img class="img-thumbnail" width="100" [src]="product.image" [alt]="product.name"></td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.price | currency }}</td>
            <td>
                <span class="badge badge-danger" *ngIf="product.stock==0">NO DISPONIBLE</span>
                <span class="badge badge-success" *ngIf="product.stock>0">DISPONIBLE</span>
            </td>
            <td>
                <div class="input-group" *ngIf="product.stock">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary btn-sm" (click)="DownQuantity(product)">-</button>
                        </div>
                        <input type="text" class="text-center" [(ngModel)]="product.quantity" (keyup)="changeQuantity($event, product)">
                        <div class="input-group-append">
                            <button class="btn btn-secondary btn-sm" (click)="UpQuantity(product)">+</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>