<div class="container">

    <div class="row">

        <div>
            <img class="justify-content-start mt-5" width="200" src="assets/img/contact.svg" alt="imagen contact woman">
        </div>

        <div class="text-center">
            <h3 class="text-center mt-5">Contactanos por Whatsapp al 2983 521454 !</h3>
            <a href="https://api.whatsapp.com/send?phone=+5492983521454" target="_blank"> <img width="60" src="assets/img/logo_wa.png" alt="Logo whatsapp"></a>
        </div>



    </div>

</div>